<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DEBUG" connectionString="Data Source=(localdb)\Projects;Initial Catalog=TestsDataUtilities;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
	</connectionStrings>
</configuration>